.monthly-history {
  padding-top: 92px;
  display: flex;
  flex-direction: column;
}

.monthly-history__info {
  width: 848px;
  display: flex;
  justify-content: space-between;
  color: var(--color-primary);
  margin-bottom: 28px;
}

.monthly-history__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.monthly-history__right > fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.monthly-history__right input[type='checkbox']:checked + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('/src/assets/icon/selected.svg');
}

.monthly-history__right input[type='checkbox'] + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('/src/assets/icon/checkbox_default.svg');
}

.daily-history {
  margin-bottom: 33px;
}

.daily-history__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.daily-history__day,
.daily-history__total,
.daily-item__payment {
  color: var(--color-primary-alt);
}

.daily-item__payment {
  width: 120px;
}

.daily-history__dateChar {
  color: var(--color-primary);
  margin-right: 8px;
}

.daily-item {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 16px;
  border-top: 1px solid var(--color-primary-alt-40);
  border-bottom: 1px solid var(--color-primary-alt-40);
  gap: 16px;
  justify-content: space-between;
}

.daily-item__category {
  width: 92px;
  height: 32px;
  border-radius: 25px;
  background-color: var(--color-category-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.daily-item__category[data-category='생활'] {
  background-color: var(--color-category-navy);
}

.daily-item__category[data-category='식비'] {
  background-color: var(--color-category-blue);
}

.daily-item__category[data-category='교통'] {
  background-color: var(--color-category-mint);
}

.daily-item__category[data-category='쇼핑/뷰티'] {
  background-color: var(--color-category-cyan);
}

.daily-item__category[data-category='의료/건강'] {
  background-color: var(--color-category-sky);
}

.daily-item__category[data-category='문화/여가'] {
  background-color: var(--color-category-pink);
}

.daily-item__category[data-category='미분류'] {
  background-color: var(--color-category-purple);
}

.daily-item__category[data-category='월급'] {
  background-color: var(--color-category-green);
}

.daily-item__category[data-category='용돈'] {
  background-color: var(--color-category-yellow);
}

.daily-item__category[data-category='기타수입'] {
  background-color: var(--color-category-orange);
}

.daily-item__memo {
  width: 320px;
  color: var(--color-primary);
}

.daily-item__money {
  width: 234px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.daily-item__money[data-moneytype='income'] {
  color: var(--color-secondary-cyan);
}

.daily-item__money[data-moneytype='expense'] {
  color: var(--color-secondary-red);
}

.daily-item .daily-item__delete-btn {
  display: none;
  padding-left: 16px;
}

.daily-item:hover .daily-item__delete-btn {
  display: initial;
}

.daily-item:hover {
  background-color: var(--color-white);
}
