.history {
  padding-top: 92px;
  display: flex;
  flex-direction: column;
}

.total-info {
  width: 848px;
  display: flex;
  justify-content: space-between;
  color: var(--color-primary);
  margin-bottom: 28px;
}

.total-info__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-info__right > fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.total-info__right input[type='checkbox']:checked + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('/src/assets/icon/selected.svg');
}

.total-info__right input[type='checkbox'] + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('/src/assets/icon/checkbox_default.svg');
}

.daily-history {
  margin-bottom: 33px;
}

.daily-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.daily-info__day,
.daily-total,
.daily-item__payment {
  color: var(--color-primary-alt);
}

.daily-info__dateChar {
  color: var(--color-primary);
  margin-right: 8px;
}

.daily-item {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 16px;
  border-top: 1px solid var(--color-primary-alt-40);
  border-bottom: 1px solid var(--color-primary-alt-40);
  gap: 16px;
  justify-content: space-between;
}

.daily-item__category {
  width: 92px;
  height: 32px;
  border-radius: 25px;
  background-color: var(--color-category-pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-item__body {
  width: 320px;
  color: var(--color-primary);
}

.daily-item__category > span {
  color: var(--color-white);
}

.daily-item__price {
  width: 234px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-secondary-red);
  color: var(--color-secondary-cyan);
}

.daily-item .daily-item__delete-btn {
  display: none;
  padding-left: 16px;
}

.daily-item:hover .daily-item__delete-btn {
  display: initial;
}

.daily-item:hover {
  background-color: var(--color-white);
}
