#input-bar {
  position: absolute;
  top: -2rem;
  width: 894px;
  height: 76px;
  display: flex;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-primary);
}

.input-bar__form {
  display: flex;
  align-items: center;
}

.input-bar__form > div {
  border-right: 1px solid var(--color-primary);
}

.input-bar__component {
  position: relative;
  display: flex;
}

.input-bar__dropdown {
  position: absolute;
  display: none;
  background-color: var(--color-white);
  top: 150%;
  left: 0%;
}

.input-bar__component:not(:last-child) {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px;
}

.input-bar__component:nth-child(5) {
  border: none;
}

.input-bar__component input {
  height: 24px;
  color: var(--color-primary);
}

.input-bar__component > label {
  height: 16px;
  color: var(--color-primary-alt);
}

#date-input {
  width: 88px;
  font-size: var(--font-size-body-small);
  color: var(--color-primary);
}

#money-input {
  width: 78px;
  font-size: var(--font-size-body-small);
  text-align: right;
}

#memo-input {
  width: 164px;
}

#money-type-checkbox[type='checkbox'] + label {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/src/assets/icon/minus.svg');
}

#money-type-checkbox[type='checkbox']:checked + label {
  background-image: url('/src/assets/icon/plus.svg');
}

.input-money-content {
  width: 134px;
  display: flex;
  justify-content: space-between;
}

.input-money-content > span {
  color: var(--color-primary);
}

.dropdown-input {
  width: 100px;
  text-align: left;
  color: var(--color-primary-alt);
  background-image: url('/src/assets/icon/chevron-down.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 40%;
  cursor: pointer;
}

.category-list,
.payment-list {
  position: absolute;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-primary);
  cursor: pointer;
}

.input-option {
  display: flex;
  position: relative;
  padding: 0 24px;
  justify-content: space-between;
  width: 148px;
  height: 57px;
}

.input-option > span {
  width: 100%;
  display: flex;
  align-items: center;
}

.input-option:not(:last-child)::after,
.input-option:not(:last-child)::after,
.input-option:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100px;
  border-bottom: 1px solid var(--color-primary);
}

.input-bar__dropdown.active {
  display: initial;
}

.delete-btn > img {
  filter: var(--filter-secondary-red);
}

#submit-btn {
  width: 40px;
  height: 40px;
  background-image: url('/src/assets/icon/button-active.svg');
}

#submit-btn:disabled {
  background-image: url('/src/assets/icon/button-disabled.svg');
}

#currentItemKey {
  display: none;
}
