main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-bar {
  position: absolute;
  top: -2rem;
  width: 894px;
  height: 76px;
  display: flex;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

.input-bar__form {
  display: flex;
  align-items: center;
}

.input-bar__form > div {
  padding: 0 24px;
  border-right: 1px solid var(--color-primary);
}

.input-bar__component {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-bar__component:nth-child(5) {
  border: none;
  padding-right: 24px;
}

.input-bar__component input {
  height: 24px;
}

.input-bar__component label {
  height: 16px;
  color: var(--color-primary-alt);
}

#date-input {
  width: 88px;
  color: var(--color-primary);
}

#amount-input {
  width: 78px;
  text-align: right;
}

#memo-input {
  width: 164px;
}

#toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.input-money-content {
  width: 134px;
  display: flex;
  justify-content: space-between;
}

.input-money-content > span {
  color: var(--color-primary);
}

#payment,
#category {
  width: 100px;
  text-align: left;
  color: var(--color-primary-alt);
  background-image: url('/src/assets/icon/chevron-down.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 40%;
}

.payment-dropdown,
.category-dropdown {
  position: absolute;
  top: 120%;
}
