.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08),
    0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 16px;
  border: 1px solid var(--color-primary);
  z-index: 1;
}

.modal-inner {
  padding: 40px 40px;
}

.modal-header {
  color: var(--color-primary);
  margin-bottom: 24px;
}

.modal-body input {
  width: 320px;
  height: 44px;
  border: 1px solid var(--color-primary);
  background: var(--color-primary-alt);
  background: var(--color-white);
  border-radius: var(--radius-primary);
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.modal-btn__cancel {
  color: var(--color-primary);
}

.modal-btn__register {
  color: var(--color-secondary-yellow);
}

.modal-btn__delete {
  color: var(--color-secondary-red);
}

.modal-body__detail {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

.dim-cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
