.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-off-white);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  padding: 0;
  border: none;
  display: flex;
  cursor: pointer;
  background: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--color-primary-alt);
}

input[type='checkbox'] {
  display: none;
}
