.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

/* body * {
  border: 1px solid red;
} */

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  padding: 0;
  border: none;
  width: 100%;
  display: flex;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--color-primary-alt);
}
